@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<form asp-action="Login" asp-controller="Home">
    <input type="text" name="username" hidden value="admin" />
    <input type="text" name="password" hidden value="admin" />
    <button type="submit">LOGIN TEST</button>
</form>

